aside 
      ul.nav-aside
        li: a(href="/users/"+user._id+"?edit=true") Edit personal info 
        li: a(href="/users/"+user._id+"?security=true") Security  
        li: a(href="/users/"+user._id+"/mycourse") My courses  