doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      .logo Logo 
      ul
        li: a(href="/") Home 
        li: a(href="/users?page=1") Users  
        li#authenticated
    block content
    script(src="http://localhost:3000/javascripts/login.js") 
